body {
  padding: 0;
  margin: 0;
  background-image: url(media/asana_color_column.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.form-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.input-form {
  text-decoration: none;
  outline: none;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 20px 40px;
  font-size: 14px;
  margin-bottom: 30px;
}

.input-form:focus {
  border: 1px solid green;
}

.form-button {
  border: 2px solid black;
  padding: 15px 30px;
  border-radius: 10px;
  font-size: 14px;
  outline: none;
}

.form-button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.form-p {
  font-family: 'Raleway', sans-serif;
}

.list-div ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.list-el {
  background-color: white;
  list-style-type: none;
  border: 1px dotted black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  margin-left: 30px;
  margin-right: 30px;
}

.list-el a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 22px;
  font-family: 'Raleway', sans-serif;
  color: black;
  font-weight: 900;
}

.list-el a:hover {
  text-decoration: underline;
  color: white;
}

.list-el:hover {
  background-color: lightgray;
}

.list-title {
  text-decoration: underline;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
}

.list-button {
  margin-top: 20px;
  outline: none;
  cursor: pointer;
  padding: 10px 20px;
  background-color: lightgoldenrodyellow;
  font-size: 14px;
  border-radius: 10px;
  border: 1px solid green;
}

.list-button:hover {
  background-color: white;
}
